/* Animations */

@keyframes float {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    33% {
        transform: translate(30px, -50px) rotate(10deg);
    }

    66% {
        transform: translate(-20px, 20px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes pulse-soft {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in-up 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.6;
    animation: float 20s infinite ease-in-out;
    z-index: -1;
}

.blob-1 {
    top: -10%;
    left: -10%;
    width: 500px;
    height: 500px;
    background: var(--bg-blob-1);
    animation-delay: 0s;
}

.blob-2 {
    top: 20%;
    right: -20%;
    width: 400px;
    height: 400px;
    background: var(--bg-blob-2);
    animation-delay: -5s;
}

.blob-3 {
    bottom: -10%;
    left: 20%;
    width: 600px;
    height: 600px;
    background: var(--bg-blob-3);
    animation-delay: -10s;
}

.blob-4 {
    bottom: 10%;
    right: 10%;
    width: 300px;
    height: 300px;
    background: var(--bg-blob-4);
    animation-delay: -15s;
}

.blob-5 {
    top: 40%;
    left: 40%;
    width: 350px;
    height: 350px;
    background: var(--bg-blob-5);
    animation-delay: -7s;
}